.productdetails-container {
    width: 100%;
    display: flex;
    margin-top: 50px;
    gap: 40px;
}

.productDetails-left {
    position: relative;
    width: 35%;
    padding: 20px 10px;
    margin-left: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e297;
    border-radius: 10px;
}

.productDetails-left .left-inner-div {
    width: 90%;
    display: flex;
    justify-content: center;
}

.productDetails-left .prev-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 30px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}

.productDetails-left .prev-icon:active {
    color: #8c9ef9;
}

.productDetails-left .left-inner-div img {
    width: 70%;
    /* background-color: #bbbbbb53; */
}

.productDetails-left .next-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}

.productDetails-left .next-icon:active {
    color: #8c9ef9;
}

.productDetails-left .image-idetifier-container {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.productDetails-left .current-images-idetifier {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}

.productDetails-left .current-images-idetifier.active {
    background-color: #ffffff;
}

.productDetails-right {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.productDetails-right .details-inner1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productDetails-right .details-inner1 .title {
    font-size: 22px;
    font-family: "gilroy-bold";
    font-weight: 100;
    margin-top: 15px;
}

.productDetails-right .details-inner1 .brand {
    font-size: 17px;
    font-weight: 800;
}

.productDetails-right .details-inner1 .description {
    font-size: 17px;
    font-weight: 600;
}

.productDetails-right .details-inner1 .price {
    font-size: 25px;
}

.productDetails-right .details-inner1 .rating {
    display: flex;
    gap: 10px;
    align-items: center;
}

.productDetails-right .details-inner1 .btn-container {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.productDetails-right .details-inner1 .btn-container button {
    width: 40%;
    padding: 10px 12px;
    color: white;
    background-color: #0085d2;
    font-size: 18px;
    outline: none;
    border: none;
}

.productDetails-right .details-inner1 button:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}

@media screen and (max-width : 550px) {
    .productdetails-container {
        flex-direction: column;
        align-items: center;
    }

    .productDetails-left {
        width: 90%;
        margin: 0;
    }

    .productDetails-right {
        width: 90%;
    }

    .productDetails-right .details-inner1 .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .productDetails-right .details-inner1 .btn-container button {
        width: 80%;
    }
}