.navbar-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: #d5d5d5;
  z-index: 10;
}

.navbar-container img {
  width: 120px;
  outline: none;
}

.menu-on-big-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
}

.menu-on-big-screen .router-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.menu-on-big-screen .router-container a {
  text-decoration: none;
  font-size: 14px;
  color: #00061b;
  font-weight: 700;
  padding: 8px 12px;
}

.menu-on-big-screen .router-container a.active {
  border-radius: 30px;
  background-color: #eaf1f8c8;
}

.menu-on-big-screen .search-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.menu-on-big-screen input {
  display: none;
  border: none;
  outline: none;
  padding: 10px 12px;
  margin: 0 7px;
  border-radius: 30px;
}

.menu-on-big-screen .show {
  display: block;
}

.menu-on-big-screen .cart-icon-container {
  position: relative;
  width: 38px;
}

.menu-on-big-screen .cart-icon-container p {
  position: absolute;
  font-family: "gilroy-bold";
  font-size: 13px;
  font-weight: 100;
  padding: 2px;
  top: -10px;
  right: 5px;
  border-radius: 5px;
  color: rgb(21, 0, 255);
  /* background-color: #a7a7a75a; */
}

.menu-on-big-screen input:focus {
  box-shadow: 5px 5px 5px #f1c4c4;
}

.menuIcon {
  display: none;
}

.sidebar {
  display: none;
}

.darkmode-container {
  font-size: 25px;
  display: flex;
  align-items: center;
  color: #0c4ea0;
}

@media screen and (max-width: 550px) {
  .navbar-container {
    position: static;
    height: 140px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .navbar-container img {
    width: 120px;
    margin-left: 10px;
    outline: none;
  }

  .navbar-container .menu-on-big-screen {
    width: 20%;
    gap: 10px;
    margin-left: 12px;
  }

  .navbar-container .menu-on-big-screen .router-container {
    display: none;
  }

  .menu-on-big-screen .search-container {
    display: none;
  }

  .navbar-container .menuIcon {
    display: block;
    margin-right: 15px;
  }

  .navbar-container .sidebar {
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    row-gap: 30px;
    transition: all 0.5s ease-in-out;
    z-index: 999;
  }

  .navbar-container .activeMenu {
    right: 0%;
  }

  .navbar-container .sidebar .sub-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar .navlink-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .sidebar .navlink-container p {
    /* text-align: center; */
    font-size: 20px;
    padding: 5px 20px;
  }

  .sidebar .navlink-container a {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1.2px solid #00061b;
    color: #140844;
  }

  .sidebar .navlink-container a.active {
    color: #2173ff;
  }
}
