.footer-main-container {
    width: 100%;
    background-color: #328186;
    padding-bottom: 30px;
    color: #00061B;
}

.footer-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.sub-container1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sub-container1 img{
    margin : 10px 0;
}

.info-container {
    margin-top: 10px;
}

.info-container p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 800;
}

.info-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-container ul a{
    text-decoration: none;
    color: #00061B;
}

.footer-main-container .divider {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 50%;
}

.footer-main-container .copyright-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    font-weight: 100;
}

@media screen and (max-width : 550px) {
    .footer-container {
        flex-direction: column;
    }

    .sub-container1 {
        width: 90%;
        margin: 0 auto;
        margin-top: 0;
    }

    .info-container {
        padding-left: 30px;
    }

    .footer-main-container .copyright-p {
        font-size: 14px;
    }

}