.hero-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}
.hero-sub-container {
  display: flex;
  width: 80%;
  margin: 50px auto;
}
.hero-container .left-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #4223f0, #4ff8a9);
}

.left-container p {
  font-size: 20px;
}
.left-container-content {
  color: #022e5b;
}
.left-container-content h2 {
  font-size: 50px;
}

.hero-container .right-container {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(45deg, #4ff8a9, #4223f0);
}
.hero-container .right-container img {
  width: 100%;
}
.hero-container .right-container img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 550px) {
  .hero-container {
    flex-direction: column;
    height: 700px;
  }
  .hero-sub-container {
    flex-direction: column;
    height: 100%;
  }
  .hero-container .left-container {
    width: 100%;
    height: 50%;
  }
  .left-container-content {
    font-weight: 700;
    color: #1a0784;
  }
  .hero-container .left-container h2 {
    font-size: 40px;
  }

  .hero-container .right-container {
    width: 100%;
    height: 50%;
  }
  .hero-container .right-container img {
    width: 100%;
    height: 100%;
  }
}
