@import "tailwindcss";

@font-face {
  font-family: "gilroy";
  src: url("../Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: "gilroy-bold";
  src: url("../Gilroy-ExtraBold.otf") format("opentype");
}

* {
  box-sizing: border-box;
  font-family: "gilroy", sans-serif;
  /* animation: fadeIn 1s ease-in-out; */
}

html,
body {
  height: 100%;
  width: 100%;
}

.scrollbar::-webkit-scrollbar {
  @apply hidden;
}

#root > div {
  background-color: #f2fdf8;
}

.dark {
  color: #869ba8;
  background-color: #00061b;
}

.showAlert {
  opacity: 1;
}

.hideAlert {
  opacity: 0;
}

.border {
  border: 1px solid #ccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  place-items: center;
}
